{% extends 'mailing/base.html' %}
{% load mediapath %}
{% block content %}
<div class="container marketing">
    {% for object in blog_list %}
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 alt="Generic placeholder image" width="150" height="150">
            <h2>{{ object.title }}</h2>
            <p>{{ object.slug }}</p>
            <p><a class="btn btn-secondary" href="{% url 'blog:blog_detail' object.slug %}" role="button">Смотреть
                &raquo;</a></p>
        </div>
    </div>
    {% endfor %}
    <p><a class="btn btn-secondary" href="{% url 'blog:blog_form' %}" role="button">Создать
    </a></p>
</div>
{% endblock %}