{% extends 'mailing/base.html' %}
{% load mediapath %}
{% block content %}
{% for message in message_list %}
<div class="my-3 p-3 bg-white rounded box-shadow">

    {% if mailing.user == user or user.is_superuser %}
    <a href="{% url 'message:message_update' message.pk %}" class="border-bottom border-gray pb-2 mb-0">
        {{ message }}</a>
    {% else %}
    <a href="#" class="border-bottom border-gray pb-2 mb-0">{{ message }}</a>
    {% endif %}

    <div class="media text-muted pt-3">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Тема письма: {{ message.header }}</strong>
            <strong class="d-block text-gray-dark">Содержание: {{ message.body }}</strong>
        </p>
    </div>

    {% if user.is_staff or user == mailing.user %}
    <a href="{% url 'message:message_delete' message.pk %}" class="btn btn-secondary"
       style="background: red">Удалить</a>
    {% endif %}
    </div>
{% endfor %}

{% if user.is_authenticated %}
<div class="container">
    <a href="{% url 'message:message_create' %}" class="btn btn-secondary my-3"
       style="background: darkgreen">Создать</a>
{% endif %}
</div>
{% endblock %}